pkgbase = greg-git
	pkgdesc = A command-line podcast aggregator.
	pkgver = 0.4.5
	pkgrel = 1
	url = https://github.com/manolomartinez/greg
	arch = any
	license = GPL
	makedepends = git
	depends = python-feedparser
	optdepends = python3-stagger-svn: writing metadata
	optdepends = wget: alternative downloadhandler
	optdepends = aria2: alternative downloadhandler
	optdepends = python-beautifulsoup4: convert html to text for tagging
	provides = greg
	conflicts = greg
	source = git://github.com/manolomartinez/greg.git
	md5sums = SKIP

pkgname = greg-git

